snippet describe
describe("$1", function() {
	$0
});
endsnippet

snippet it
it("$1", function() {
	$0
});
endsnippet

snippet beforeEach
beforeEach(function() {
	$0
});
endsnippet

snippet afterEach
afterEach(function() {
	$0
});
endsnippet
