[user]
  name = Nathan Wallace
  email = nathan.m.wallace@gmail.com
[color]
  ui = auto
[core]
  editor = vim
  autocrlf = input
  pager = less -F -X
[push]
  default = upstream
[alias]
  co = checkout
  st = status
  di = diff
  lg = log --graph --all --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(bold white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --abbrev-commit --date=relative
  aa = add --all
  cm = commit -m
  ca = commit --amend
  az = archive --format zip --output
