[user]
  name = Nathan Wallace
  email = nathan.wallace@leandogsoftware.com
[color]
  ui = auto
[core]
  editor = vim
  autocrlf = input
  pager = less -F -X
  excludesfile = ~/.gitignore
[push]
  default = upstream
[sendemail]
  smtpencryption = tls
  smtpserver = smtp.gmail.com
  smtpuser = nathan.wallace@leandogsoftware.com
  smtpserverport = 587
[alias]
  aa = add --all
  az = archive --format zip --output
  ci = commit
  cm = commit -m
  ca = commit --amend
  co = checkout
  di = diff -b
  dc = diff --cached -b
  ds = diff --stat -b
  lg = log --graph --all --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %s %C(bold)- %an%C(reset)%C(bold yellow)%d%C(reset)' --abbrev-commit --date=relative
  l  = log --graph --all --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %s %C(bold)- %an%C(reset)%C(bold yellow)%d%C(reset)' --abbrev-commit --date=relative -10
  st = status
  pullff = pull --ff-only
  unstage = reset HEAD
  sl = stash list
  ss = "!_git_alias_stash_show() { \
          stash_num=$1; \
          [ $# -eq 0 ] && stash_num=0; \
          git stash show stash@{$stash_num}; \
        }; _git_alias_stash_show"
  ssp = "!_git_alias_stash_show_patch() { \
          stash_num=$1; \
          [ $# -eq 0 ] && stash_num=0; \
          git stash show -p stash@{$stash_num}; \
        }; _git_alias_stash_show_patch"
  sp = "!_git_alias_stash_pop() { \
          stash_num=$1; \
          [ $# -eq 0 ] && stash_num=0; \
          git stash pop stash@{$stash_num}; \
        }; _git_alias_stash_pop"
[git-pair]
  authors = Tim Conner <tim.conner@leandogsoftware.com>
  authors = Dan Parks <dan.parks@leandogsoftware.com>
  authors = Nathan Wallace <nathan.wallace@leandogsoftware.com>
  authors = Joel Byler <joel.byler@leandog.com>
