snippet object
<object class="$1">
  $0
</object>
endsnippet

snippet child
<child>
  $0
</child>
endsnippet

snippet property
<property name="$1">$2</property>$0
endsnippet

snippet interface
<interface>
  $0
</interface>
endsnippet

snippet requires
<requires lib="$1" version="$2" />
endsnippet
